

<!--Add Table for the CRUD operations-->

<div class="container">
  <h1>Crud Student</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Age</th>

        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let student of students">
        <td>{{student.id}}</td>
        <td>{{student.name}}</td>
        <td>
          <button class="btn btn-primary" (click)="updateStudent(student)">Edit</button>
          <button class="btn btn-danger" (click)="deleteStudent(student)">Delete</button>
          <button class="btn btn-info" (click)="updateStudent(student)">Update</button>
            <button class="btn btn-success" (click)="addStudent(student)">Add</button>

        </td>
      </tr>

    </tbody>
  </table>


</div>


<div class="container">
  <h1>Crud Class</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>

        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let class of classes">
        <td>{{class.id}}</td>
        <td>{{class.name}}</td>
        <td>
          <button class="btn btn-primary" (click)="updateClass(class)">Edit</button>
          <button class="btn btn-danger" (click)="deleteClass(class)">Delete</button>
          <button class="btn btn-info" (click)="updateClass(class)">Update</button>
          <button class="btn btn-success" (click)="addClass(class)">Add</button>

        </td>
      </tr>
        <div *ngFor="let class of classes">
  <button class="btn btn-info" (click)="addClass(class)">Add</button>
  </div>

    </tbody>
  </table>

</div>